@model BugTracker.Models.Company

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
            <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
            <p class="card-text">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning"><i class="bx bxs-edit"></i> Edit</a>
            </p>
        </div>
    </div>
    <a asp-action="Index" class="btn btn-secondary"><i class="bx bxs-left-arrow-circle"></i> Back to List</a>
</div>



